@import "@/scss/fonts";

.portfolio {
  background-color: black;
  color: white;
  padding: var(--section-spacing-l) 0 0 0;

  .headline {
    margin-bottom: 100px;
  }

  a {
    text-decoration: none;

    img {
      transition: .3s transform;
    }

    &:hover {
      .title::after {
        transform: translate(10px, -10px);
      }

      img {
        transform: scale(1.1);
      }
    }
  }
}

.description {
  max-width: 600px;
  @include body(normal)
}

.item {
  margin-bottom: var(--section-spacing-l);
}

.title {
  transition: 0.3s ease;
  word-break: break-all;
  margin-bottom: 0;

  &::after {
    content: '↗';
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    margin-left: 10px;
    position: relative;
    transition: .3s transform;
  }
}

.image {
  height: 700px !important;
  max-height: 70svh;
  object-fit: cover;
}
