.footer {
  background-color: #111;
  padding: 50px 0;
  margin-top: 50px;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
