@import "@/scss/fonts.scss";

.footer {
  background-color: #babbbf;
  padding: 50px 0;
  margin-top: 50px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: auto;
}

.logo {
  @include headline(h6);
  display: flex;
  align-items: flex-end;

  @include media-breakpoint-max(md) {
    @include headline(h3);
    margin-top: 50px;
    order: 2;
  }
}

.copyright {
  display: flex;
  align-items: flex-end;

  @include media-breakpoint-min(md) {
    justify-content: center;
  }

  @include media-breakpoint-max(md) {
    margin-top: 20px;
    order: 3;
  }
}

.links {
  display: flex;
  gap: 20px;

  @include media-breakpoint-max(md) {
    flex-direction: column;
  }

  a {
    text-decoration: none;
  }

  .social,
  .footer-line {
    display: flex;
    flex-direction: column;
  }

  @include media-breakpoint-min(md) {
    justify-content: flex-end;

    .social,
    .footer-line {
      margin-left: 0;
    }
  }

  @include media-breakpoint-max(md) {
    margin-top: 20px;

    .social,
    .footer-line {
      margin-left: 0;
      flex-direction: row;
      gap: 20px;
    }
  }
}
